<!DOCTYPE html>
<html>

<head>
    <link href="/assets/style.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <%- include ('partial/nav.ejs') %>
        <h1>Welcome to the Our website</h1>
        <h2 style="text-align: center">Here Our projects are</h2>
        <P>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Esse, reiciendis! Exercitationem, voluptate
            voluptatem soluta maiores fuga mollitia commodi distinctio aperiam ducimus et saepe quam sit, laboriosam
            magni, rem laudantium harum aspernatur. Similique, facilis iusto voluptatum sunt consectetur impedit eos
            fugit eligendi laudantium nam quod quas repellendus id quam explicabo ullam deserunt eius velit pariatur
            exercitationem alias non! Tempore iusto cum beatae totam sunt temporibus amet, laborum tenetur eum nam
            explicabo numquam ipsum neque qui fugiat molestiae accusantium quidem corrupti, earum labore doloremque
            perferendis quis possimus. Assumenda sunt ducimus non illum quidem laudantium esse in! Vel quidem minima cum
            nam aut est. Ad laudantium architecto quasi dicta provident, id, quae possimus obcaecati dignissimos
            repellendus repellat sint deleniti tenetur eos nostrum labore dolor minus quam voluptate necessitatibus
            sapiente quidem rerum? Laborum aliquid corrupti porro neque quibusdam. Aspernatur autem nostrum maxime
            adipisci soluta laboriosam magnam quia nemo quos deserunt. Facilis labore, voluptate, officiis, doloribus
            quaerat ipsa fuga vel repellat iure dolorem et? Modi temporibus minus distinctio accusantium? Obcaecati
            ipsam atque assumenda quam facere deleniti expedita quae, harum blanditiis accusamus molestiae fugiat nisi
            sequi quasi eius necessitatibus ea totam rem illo saepe, dolorum distinctio repudiandae provident.
            Praesentium optio ducimus assumenda beatae amet possimus! Enim dignissimos similique voluptates accusantium
            beatae officia veritatis nemo quibusdam. Praesentium esse necessitatibus repellat, cumque suscipit unde
            vitae voluptate ratione, error illum explicabo ipsa aut quisquam velit vero repellendus maxime architecto
            temporibus culpa quo in aspernatur amet! Porro blanditiis cumque rem similique odio saepe expedita optio
            architecto temporibus. Rem dicta id officiis pariatur architecto, error sint libero, illum assumenda
            provident quae suscipit ut praesentium animi quaerat corporis deleniti nam, ad minus aliquid nemo molestiae
            eveniet tempore impedit. Eveniet ut, ex delectus maxime quos atque voluptatem voluptates commodi iusto
            veniam fugiat labore repellendus natus officiis beatae quas odio quisquam. Voluptatibus accusantium harum,
            non sit voluptate corrupti facilis repudiandae error sed est! Quas dolores sapiente eveniet! Aliquam, ea
            reiciendis eius autem delectus obcaecati omnis adipisci magnam laudantium debitis accusantium? Fuga
            necessitatibus qui aliquam! Fugit fuga eaque maiores quaerat est a in alias possimus repellat quod qui modi,
            dolorem explicabo minus voluptate eum, eveniet sequi consequuntur mollitia nemo inventore cum. Unde optio in
            voluptas architecto nam non! Debitis atque sint aliquam, ad aperiam numquam, beatae minus ipsa accusantium
            et adipisci perferendis consectetur eius quod quam inventore nobis porro consequuntur? Quia quo debitis sit
            ea? Cupiditate ab corporis voluptatem facilis illo ad libero doloremque laboriosam est praesentium ea nam
            hic amet, illum rem dolores recusandae voluptate saepe dolore commodi. Commodi minima recusandae facere hic,
            sequi accusamus doloribus consequatur voluptate corporis illum tempora maiores iusto? Alias quis eos
            repellendus natus reiciendis cum maiores sint ut excepturi voluptas enim sapiente sequi voluptatum possimus
            similique praesentium exercitationem totam est, repellat, sunt vero, ad quod? Exercitationem, molestias
            aspernatur rerum nam provident repellendus cum sed error accusamus officiis quos similique voluptatem.
            Asperiores repellat quibusdam consequuntur nobis officiis, eveniet ut, delectus aperiam nostrum cum sapiente
            dolorem voluptatum in error veniam voluptatem aliquid, deserunt explicabo laudantium. Iusto repudiandae quo
            unde architecto omnis.Lorem, ipsum dolor sit amet consectetur adipisicing elit. Adipisci omnis corrupti quam
            facere, consectetur
            aut natus molestias eos quos atque?Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint,</P>

</body>

</html>