<!DOCTYPE html>
<html>
    <head>
<link href="/assets/style.css" rel="stylesheet" type="text/css" />
    </head>
    <body>
        <%- include ('partial/nav.ejs') %>
        <h1>Welcome to the website</h1>
        <P>Here I am a create a home page </P>

    </body>
</html>